@model UIDesignFeedme.Models.ChangeCoupon

@{
    ViewBag.Title = "ChangeCoupon";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ChangeCoupon</h2>

<div>
    <h4>ChangeCoupon</h4>
    <hr />
    <dl class="dl-horizontal">
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
