@{
    ViewBag.Title = "Obtain Coupon";
}
 
<div>
    
    <div class="panel panel-primary">
        <h1> </h1>
        <h1 style= "font-size: 160%;"> Do you want to win a coupon? </h1>
        <div class="panel panel-heading">
            <p> The coupon is applied to: </p>
        
            <img src="~/FeedmePictures/ticket.png" style="width:30px; height: 228px;" >
            
             
        </div>
    </div>

        
</div>